@mixin font-face($font-family, $font-weight) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('/fonts/#{$font-family}/#{$font-weight}.woff2') format('woff2');
		font-weight: $font-weight;
	}
}
