$cBlack: #000;
$cWhite: #fff;

$cPrimaryDarkBlue: #2e325a;
$cPrimaryBlueGrey: #797C97;
$cPrimaryPurpleish: #7F6AFF;
$cPrimaryYellow: #F9B43D;
$cPrimaryRed: #FF7880;
$cPrimaryGreen: #3FC5AD;
$cPrimaryPurple: #D06BFF;
$cPrimaryBlue: #41C8F4;

$cSedondaryGrey: #9799AD;
$cSecondaryMidGrey: #D3D3DE;
$cSecondaryLightGrey: #F7F7FA;
$cSecondaryPurpleish: #E3DEFF;
$cSecondaryYellow: #FFF6E5;
$cSecondaryRed: #FFF0F0;
$cSecondaryGreen: #DEFCF7;
$cSecondaryPurple: #F9D4FF;
$cSecondaryBlue: #D6F5FF;
$cSecondaryStroke: #EDEDF2;

$cAlmostWhite: #FFFAFA;

$cError: #ff4500;
