.masonry-card {
	$this: &;
	display: flex;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	width: 100%;
	position: relative;
	img {
		@include transition(transform);
	}
	@media (hover: hover)
	{
		#{$this}__footer {
			opacity: 0
		}
	}
	@include hover() {
		img {
			transform: scale(1.03);
		}
		#{$this}__footer {
			opacity: 1
		}
	}
	&__footer {
		@include padding(40px 30px);
		opacity: 1;
		@include transition(opacity);
		position: absolute;
		@include absolute(0, 0, 0, 0);
		background-color: rgba($cPrimaryDarkBlue, .4);
		display: flex;
		align-items: center;
		.typo {
			text-align: center;
			margin: auto;
		}
	}
	@include mq(tablet) {
		width: 50%;
	}
	@include mq(desktop) {
		width: calc(100%/3);
	}
	@include mq(dekstop-wide) {
		width: 25%;
	}
}
