.masonry-card {
	$this: &;
	display: flex;
	cursor: pointer;
	overflow: hidden;
	img {
		@include transition(transform);
	}
	@media (hover: hover)
	{
		#{$this}__footer {
			opacity: 0
		}
	}
	@include hover() {
		img {
			transform: scale(1.03);
		}
		#{$this}__footer {
			opacity: 1
		}
	}
	&__footer {
		@include padding(40px 30px);
		opacity: 1;
		@include transition(opacity);
		position: absolute;
		@include absolute(0, 0, 0, 0);
		background-color: rgba($cPrimaryDarkBlue, .4);
		display: flex;
		align-items: center;
		.typo {
			margin: auto;
		}
	}
}
